// Colors
$clr-red: #ac2626;
$clr-green: #56d756;
$clr-cyan: #00ffff;
$clr-white: #ffffff;
$clr-black: #111111;
$clr-gray: #222222;
$clr-border: #333333;
$clr-gold: #ffd700;
$clr-silver: #c0c0c0;
$clr-bronze: #cd7f32;

// Background Colors
$bg-primary: $clr-black;
$bg-secondary: $clr-gray;

// Sizes
$size-small: 0.5rem;
$size-medium: 1rem;
$size-large: 1.5rem;
$size-xlarge: 2rem;

// Borders
$border-radius: 8px;
$border-color: $clr-border;
